*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --color-primario:white;
    --line-style: 10px solid var(--color-primario);
}

body{
    min-height: 100vh;
    background-color: #861FB0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#contenedor{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
}

.cuadrado{
    color: var(--color-primario);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 8rem;
}

.arriba{
    border-bottom: var(--line-style);
}

.medio{
    border-left: var(--line-style);
    border-right: var(--line-style);
}

.abajo{
    border-top: var(--line-style);
}

.ganador{
    background-color: rgb(38, 180, 38);
}

dialog{
    text-align: center;
    min-width: 50vw;
    background-color: rgba(240, 248, 255, 0.23);
    padding: 5rem;
    border: unset;
}

dialog::backdrop{
    backdrop-filter: blur(3px);
}

dialog h2{
    font-family: var(--font-family);
    font-size: xx-large;
}

dialog button{
    font-size: larger;
    padding: 1rem;
    border: none;
    border-radius: 5px;
}

